* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* center verticle*/
    min-height: 100vh;
    background-color: bisque;
}

.container {
    border-radius: 1.3rem;
    border: 0.5px solid black;
    background-color: white;
    padding: 2rem;
    min-height: 40vh;
    width: 40vh;
}

.container h2 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(2, 242, 255, 0.584);
    font-weight: bolder;
}

form {
    margin: 2rem 0 0.1rem 0;
}

form input,
select,
button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.80rem;
}

form input {
    border: 1px solid rgba(255, 1, 175, 0.436);
    padding-left: 0.5rem;
    margin-top: 0.3rem;
    height: 2rem;
    font-size: 1rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.dropdown i {
    margin-top: 1rem;
    font-size: 1rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid #663399;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.select-container select {
    width: auto;
}

.select-container img {
    max-width: 2rem;
}

.message {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

button {
    background-color: plum;
    height: 2.3rem;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}

i {
    cursor: pointer;
}